UserInterface/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ThirdTime/FillExecutionPublisherService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="SubscribeToFillExecutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfTupleOfintdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>