UserInterface/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="SubscribeToMarketPlacements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfTupleOfintintdecimaldecimal" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="dataChangeType" nillable="true" type="q2:Notifications.DataChangeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>