UserInterface/Service References/ServiceReference1/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="ArrayOfTupleOfintdecimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfintdecimal" nillable="true" type="tns:TupleOfintdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfintdecimal" nillable="true" type="tns:ArrayOfTupleOfintdecimal" />
  <xs:complexType name="TupleOfintdecimal">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintdecimal" nillable="true" type="tns:TupleOfintdecimal" />
  <xs:complexType name="ArrayOfTupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP" nillable="true" type="tns:TupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP" nillable="true" type="tns:ArrayOfTupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP" />
  <xs:complexType name="TupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TupleOf{0}{1}{2}{3}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="Notifications.DataChangeType" Namespace="http://schemas.datacontract.org/2004/07/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" nillable="true" type="tns:TupleOfintintdecimaldecimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" name="m_Item2" nillable="true" type="q1:Notifications.DataChangeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP" nillable="true" type="tns:TupleOfTupleOfintintdecimaldecimalNotifications.DataChangeType1E922dlP" />
  <xs:complexType name="TupleOfintintdecimaldecimal">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" type="xs:int" />
      <xs:element name="m_Item3" type="xs:decimal" />
      <xs:element name="m_Item4" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintintdecimaldecimal" nillable="true" type="tns:TupleOfintintdecimaldecimal" />
</xs:schema>